* {
  font-family: sans-serif;
}

body {
  background-color: grey;
  background-image: url("../images/gravel.jpg");
  background-size: cover;
}

#center-container {
  background-color: brown;
  background-image: url("../images/wood.webp");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5vw;
  right: 5vw;
  box-shadow: 0 0 5px black;
}

#center-container h1 {
  margin: 0;
  color: white;

  font-size: 24px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 10px;
}

#center-container footer {
  color: white;
  text-align: center;

  font-size: 10px;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#center-container footer a {
  color: white;
}

#game-container {
  position: absolute;
  top: 60px;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

#message-container {
  font-style: italic;
}

#main-card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  display: none;
  background-image: url("../images/fabric.jpg");
  background-size: cover;
}

#main-card p {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: serif;
  font-size: 20px;
}

#solution-options {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  display: none;
}

#solution-options button {
  color: black;
  box-sizing: border-box;
  border-style: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: serif;
  font-size: 14px;
  width: 100%;
  background-image: url("../images/fabric.jpg");
  background-size: cover;
}

#solution-options button.right {
  background-blend-mode: multiply;
  background-color: rgb(192, 255, 129);
}

#solution-options button.wrong {
  opacity: 50%;
  color: red;
}

#start-button,
#next-button {
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  display: none;
}

#start-button {
  color: brown;
  background-color: beige;
}

#next-button {
  color: white;
  background-color: brown;
}

#next-button-container {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
